ENV=local
PORT=5556
DB_NAME=string_db
DB_USERNAME=string_db
DB_PASSWORD=string_password
DB_HOST=db
DB_PORT=5432
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
REDIS_HOST=redis
REDIS_PORT=6379
MEMBER_ROLE_OWNER_ID=00000000-0000-0000-1000-000000000000
MEMBER_ROLE_ADMIN_ID=00000000-0000-0000-2000-000000000000
MEMBER_ROLE_MEMBER_ID=00000000-0000-0000-3000-000000000000
SERVICE_NAME=platform_admin_api
JWT_SECRET_KEY=hskdhfjfkdhsgafgwterurorhfh
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SMS_SID=
SENDGRID_API_KEY=
STRING_ENCRYPTION_KEY=secret_encryption_key_0123456789